<!-- Custom Material Editor -->
<div class="w-100 min-vh-100 p-2 test-container d-lg-flex">
  <div class="p-3 mt-4 w-100 w-lg-50 d-flex justify-content-center">
    <form>
      <app-markdown-editor
        [(ngModel)]="content"
        name="markdown"
      ></app-markdown-editor>
    </form>
  </div>
  <div class="m-container p-3 w-100 w-lg-50 d-flex justify-content-center">
    <div class="post">
      <markdown
        [data]="procesarSintaxisPersonalizada(content)"
        ngPreserveWhitespaces
      ></markdown>
    </div>
  </div>
</div>
